.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header__menu {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  line-height: 21px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
}

.header__link {
  border-bottom: 1px solid black;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  padding: 3px 10px 5px 10px;
}

.address {
  font-style: normal;
  font-family: Raleway, sans-serif;
  line-height: 24px;
  font-size: 18px;
  max-width: 264px;
}

.contacts_link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__address {
  margin-right: 50px;
  justify-self: end;
  width: 240px;
}

.cover {
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.slogan {
  padding-top: 165px;
  position: relative;
  z-index: 3;
}

.cover__title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
}

.aligned-text {
  letter-spacing: 30px;
}

.aligned-text_left {
  padding-left: 50px;
}

.aligned-text_center {
  margin-left: 380px;
  margin-top: 15px;
}

.aligned-text_right {
  margin-left: 663px;
  margin-top: 17px;
}

.cover__description {
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 106px 50px 50px 50px;
  position: relative;
  z-index: 3;
}

.cover__description-text {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18.5px;
  font-weight: 400;
  margin-right: 107px;
}

.bet-button {
  padding: 12px 31px;
  background-color: transparent;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 22px;
}

.lots {
  margin: 180px 24px 120px 24px;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 334px;
  min-height: 596px;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link {
  height: 100%;
  min-height: 596px;
}

.card__title {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  z-index: 3;
}

.card__text {
  position: relative;
  justify-self: flex-end;
  color: white;
  margin: auto 40px 48px 40px;
  font-size: 20px;
  z-index: 3;
}

.lots__look-more-link {
  width: fit-content;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  border-bottom: 1px solid black;
}

.about {
  margin: 120px 24px 156px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: black;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  margin-top: 135px;
  margin-left: 26px;
}

.about__title {
  text-transform: uppercase;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
}

.about__text {
  width: 688px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 82px;
}

.footer__menu {
  font-size: 18px;
  margin-left: 4px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__link {
    border-bottom: 1px solid black;
}

.list-item_no-bullit {
  list-style: none;
}

.footer__social-list {
  justify-self: center;
  margin-left: 95px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.link_active {
  border: none;
}
